<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Лаба 2</title>
	<style type="text/css">
	table, th, td {
  		border: 1px solid black;
  		border-collapse: collapse;
	}
	</style>
</head>
<body>
	<a href="/"><h4>Вернуться на главную страницу</h4></a>
	<h1>Лабораторная работа 2</h1>
	<table>
		<tr>
			<th>id</th>
			<th>name</th>
			<th>course</th>
			<th>ticket_number</th>
			<th>grade</th>
		</tr>
		{%for row in table%}
  			<tr>
  				<td>{{row[0]}}</td>
  				<td>{{row[1]}}</td>
  				<td>{{row[2]}}</td>
  				<td>{{row[3]}}</td>
  				<td>{{row[4]}}</td>
  				<td><a href="laba2_update{{row[0]}}"><input type="button" value="Редактировать"></a></td>
  				<td><a href="laba2_delete{{row[0]}}"><input type="button" value="Удалить"></a></td>
  			</tr>	
		{%endfor%}
	</table>
	<a href="laba2_insert"><input type="button" value="Вставка"></a>
	<form method="POST">
		<label>условия вывода (не пишите пожалуйста команды удаления бд)</label><br>
		<input type="text" name="select" value="grade > 20"><br>
		<input type="submit" value="выборка с условием">
	</form>
</body>
</html>