<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Лаба 3</title>
</head>
<body>
	<a href="/"><h4>Вернуться на главную страницу</h4></a>
	<h1>Лабораторная работа 3</h1>

	<form method="POST">
		<label>Выберите по какому столбцу сделать диаграмму:</label><br>
		<select id="type_diagram" name="type_diagram">
			<option value="student">студент</option>
			<option value="course">курс</option>
		</select><br>
		<input type="submit" value="Создать диаграмму">
	</form>
</body>
</html>